@model Sphinxly_Testuppgift_Backend.ViewModels.VisitorViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

@if (Model != null && !string.IsNullOrEmpty(Model.Greeting))
{
    @Model.Greeting <br />
    <br />

    @Html.ActionLink("Read About GDPR -The right to be forgotten", "GDPR")<br />
    @Html.ActionLink("Home", "Index")<br /><br />

    @Html.ActionLink("GDPR - Forget me!", "DeleteVisitor", new { name = Model.Name })<br />

}

